@media print and (color) { * { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
  @page { margin: 2cm; size: auto; position: relative; }
  @page :first { display: none !important; }
  @page :blank { @top-center { content: "This page is intentionally left blank."; } } }
@media print { h1 em, h2 em, h3 em, h4 em, h5 em, h6 em { font-style: normal; }
  h1 i, h2 i, h3 i, h4 i, h5 i, h6 i { font-family: "HelvNeueBldItalic", sans-serif; }
  h1 { font-size: 36pt; }
  h2 { font-size: 30pt; }
  h3 { font-size: 24pt; }
  h4 { font-size: 18pt; }
  h5 { font-size: 16pt; }
  h6 { font-size: 12pt; }
  a { color: inherit; text-decoration: none; outline: none; }
  body { width: 100%; margin: 0; padding: 0; line-height: 1.1; font-family: "HelvNeue", sans-serif; font-weight: 400; }
  .background-image { display: none; }
  .hidden-category { display: none !important; }
  .hidden-for-print { display: block; }
  .page-container { page-break-after: always; page-break-before: avoid; }
  .footer-container { width: 100%; bottom: 0; margin-top: 100px; }
  .footer-container .text-right { float: right; margin: 0; }
  .footer-container .text-right p { margin: 0; }
  header .col-md-4 { width: 25%; }
  header:before, header:after { content: " "; display: table; }
  header:after { clear: both; }
  header:before, header:after { content: " "; display: table; }
  .row:before, .row:after { content: " "; display: table; }
  .row:after { clear: both; }
  .row:before, .row:after { content: " "; display: table; }
  .col-md-4 { width: 20%; }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
  header { background: #363636; color: white; float: left; width: 100%; height:auto; }
  header h4 { font-weight: 200; padding-left: 30px; margin:13pt 0 12pt; }
  .navbar .logo, .navbar .phone { width: 50%; }
  .navbar .phone { float: right; text-align: right; padding-top: 8pt; padding-right: 30px; display: inline-block; }
  .navbar .phone a { font-size: 18pt; }
  .navbar .phone a span, .navbar .phone a .icon { display: inline-block; vertical-align: middle; }
  .navbar .phone a .icon { padding-left: 20px; }
  .category { color: #afafaf; font-size: 18pt; font-weight: 100; margin-top: 0; padding-top: 100px; margin-bottom: 0; position: relative; }
  .category.empty { padding-top: 0; }
  .category:before, .category:after { content: " "; display: table; }
  .category:after { clear: both; }
  .category:before, .category:after { content: " "; display: table; }
  .navbar .col-sm-6 { display: inline-block; vertical-align: middle; }
  #page-0, #page-1, #page-2, #page-3, #page-4, #page-5, #page-6, #page-7, #page-8, #page-9 { display: none; }
  .section-results .category-title { font-weight: 200; font-size: 24pt; color: #363636; margin-bottom: 1em; display: inline-block; margin-top: 0; }
  .results { border: 1px solid #afafaf; padding: 15px; }
  .results .col-lg-3 { position: relative; }
  .results .col-xs-12 {width:23.33%; padding:0 1.33% 0 0;}
  .results .col-xs-12:nth-child(4n) { padding:0 !important;}
  .results h4 { font-size: 11pt; color: black; margin:0 0 4pt; }
  .results div.col-xs-12:last-child h4 {margin-top:10pt;}
  .results p ~ h4 { margin-top:10pt;}
  .results p { font-size: 11pt; color: black; padding-left: 1.5em; margin:2pt 0 4pt; }
  .results p:before { content: '[  ]'; font-size: 12pt; letter-spacing: .1em; position: absolute; left: 0px; }
  .glossary .alter-padding { padding-right: 25px; }
  .glossary .title { font-weight: 700; font-size: 24pt; color: #363636; margin-bottom: 0; display: inline-block; }
  .glossary h4 { font-size: 10pt; margin-bottom: 5pt; margin-top 6pt; }
  .glossary p { font-size: 10pt; margin-top: 0; margin-bottom:4pt } }
