<!-- <section class="glossary" >
  <div class="container">
      <h3 class="title">Glossary of Terms</h3><a href="" ng-click="close()" class="hidden-category"><img class="close-button"  src="img/close-button.png"></a>

      <hr>
      <div class="row collapse-margin">
        <div class="col-xs-12 col-sm-9 col-md-4 col-lg-3 alter-padding">
          <h4>Abandoned-cart email functionality</h4>
          <p>The process of sending automated emails to prospects that abandoned their carts before purchasing to encourage them to come back and complete their purchase.</p>

          <h4>A/B testing</h4>
          <p>The ability to test two versions of different factors within your marketing efforts (subject lines, web pages, etc.) to determine the highest-performing elements to send to your audience.</p>

          <h4>Ad display retargeting</h4>
          <p>Allows you to display ads to customers who have visited your site but did not convert.</p>

          <h4>Analytics/data management</h4>
          <p>The ability to manage your analytics and data successfully gives you a holistic view of your customers' information and their behaviors.</p>

          <h4>APIs (application program interfaces)</h4>
          <p>In computer programming, they specify how software components should interact with one another.</p>

          <h4>Asset library</h4>
          <p>An asset library allows you to organize and store your assets so you can find them when you need them.</p>

          <h4>Automated lead generation and lead-nurturing campaigns</h4>
          <p>Automated lead generation allows you to nurture prospects with highly personalized campaigns to help convert prospects to customers.</p>

          <h4>Bidirectional data sync: lead, contact, opportunity</h4>
          <p>Bidirectional data sync enables two or more data sets to send information to each other, allowing the data to flow in all directions rather than from one system to another.</p>

          <h4>Campaign contact sync with CRM</h4>
          <p>The synchronization of data from multiple sources into your CRM system, which provides visibility into your customers' actions and marketing activities.</p>

        </div>
        <div class="col-xs-12 col-sm-9 col-md-4 col-lg-3 alter-padding">

          <h4>Deliverability dashboard reports</h4>
          <p>A report accessible in your dashboard that allows you to monitor your email delivery performance.</p>

          <h4>Distributed marketing</h4>
          <p>The process of creating templated marketing campaigns or assets that can be customized at a local level to create a co-branded message, allowing for easy local customizations of brand-approved marketing materials.</p>

          <h4>Drag-and-drop editor</h4>
          <p>Drag-and-drop editor allows you create and visualize campaign flow to seamlessly design multi-touch campaigns.</p>

          <h4>Dynamic content</h4>
          <p>Dynamic content is content (such as emails, websites, landing pages, etc.) that you can modify based on the prospect and their interests.</p>

          <h4>Ecommerce integration</h4>
          <p>The ability to integrate your email marketing software to ecommerce systems to provide you with insights into purchases, buyer demographics, product selections and engagement metrics.</p>

          <h4>Email product recommendations</h4>
          <p>Email product recommendations allow you to use past purchase behavior or cart-abandonment data to recommend products that your prospect is interested in.</p>

          <h4>Email snooze capability</h4>
          <p>Enables recipients to temporarily take a break from receiving email communications, instead of opting out completely.</p>

        </div>
        <div class="col-xs-12 col-sm-9 col-md-4 col-lg-3 alter-padding">

          <h4>Email Insights</h4>
          <p>A tool offered by IBM Marketing Cloud that ensures marketers deliver content that is formatted and tailored to each recipient’s preferred device and browser.</p>

          <h4>Inventory-based messaging</h4>
          <p>Inventory-based messaging is the process of letting your prospects know which of your products are in stock or available, making it more likely they will make a purchase.</p>

          <h4>Journey Designer</h4>
          <p>A tool from IBM Marketing Cloud that allows teams to collaborate, design and continually improve customer experiences in real time.</p>

          <h4>Journey management</h4>
          <p>The ability to customize and optimize every interaction that customers have with your brand, from initial contact to purchase.</p>

          <h4>Lead scoring</h4>
          <p>Lead scoring is a way to identify your best potential customers and indicate likelihood to buy based on implicit and explicit information that is captured (demographic and behavioral data).</p>

          <h4>Personalization</h4>
          <p>Personalization is making your content and messages relevant to the prospect based on their interests, behaviors and stage in the buyer journey.</p>

          <h4>Predictive analytics</h4>
          <p>Predictive analytics allows you to predict outcomes and trends (marketing spend, targeting, product recommendations, etc.) based on data you already have.</p>

          <h4>Program blueprints</h4>
          <p>Pre-defined automated program layouts for common nurture types.</p>

          <h4>Progressive web form</h4>
          <p>Progressive web forms allow you to ask for information incrementally each time a prospect visits your site, instead of all at once.</p>

        </div>
        <div class="col-xs-12 col-sm-9 col-md-4 col-lg-3 alter-padding">

          <h4>Revenue attribution: lead source</h4>
          <p>The ability to match your revenue to the specific lead source that generated the sale.</p>

          <h4>Revenue attribution: campaign source</h4>
          <p>The ability to match your revenue to the specific campaign that generated the sale.</p>

          <h4>Segmentation</h4>
          <p>Targeting subscribers based on their demographics, interests and behaviors, which generally results in substantial engagement over non-targeted emails.</p>

          <h4>Send-time optimization</h4>
          <p>Send-time optimization is a tool that allows you to identify the ideal time to send emails to your audience based on when they are interacting with their inboxes.</p>

          <h4>Share-to-social networks</h4>
          <p>Share-to-social networks is a tool that allows prospects to easily share content to their social media networks.</p>

          <h4>UBX (Universal Behavior Exchange)</h4>
          <p>A click-to-connect integration that facilitates a frictionless flow of data between internal and external systems.</p>

          <h4>Web personalization</h4>
          <p>Web personalization allows you to provide personalized experiences to your customers on your web pages.</p>

          <h4>WYSIWYG</h4>
          <p>WYSIWYG (“What You See Is What You Get”) editor is a program that allows you to easily manipulate the layout of a document and see what the end result will look like while the content is being created.</p>

        </div>
      </div>
  </div>
</section> -->
