<div class="header-container hidden-for-print">
<header class="navbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-9 col-sm-6 col-md-8"><h4>IBM <strong>Marketing Cloud</strong> <span class="hidden-category page-category">Your Email Automation Must-Have Checklist</span></h4></div>
      <div class="phone col-xs-3 col-sm-6 col-md-4"><a href="tel:+18005555555"><span>1-800-555-5555</span><img src="img/phone-icon.png" class="icon"></a></div>
    </div>
  </div>
</header>
</div>
